#chat_service{
    position: fixed;
    top: 100vh;
    left: 100vw;
    transform: translate(-100%, -100%);
    padding: 0;
    display: grid;
    grid-template-columns: 350px 150px;
    background-color: #404E5C;
    z-index: 999;
}

#chat_control{
    position: fixed;
    top: 100vh;
    left: 100vw;
    transform: translate(-100%, -100%);
    width: 75px;
    overflow: visible;
}

#chat_control span::after{
    top: -20px;
    right: -20px;
}

#chat_submit{
    width: 50%;
}

#chat_service #chat_content{
    overflow-y: scroll;
    min-height: 250px;
    max-height: 250px;
    border-right: 2px solid #FFFFFF;
}

#chat_service #chat_content div{
    width: 60%;
    padding: 1em;
    margin: 1em;
    float: left;
    background: #FF5252;
    color: white;
    border-radius: 10px;
}

#chat_service #chat_content div.waiting{
    background: lightgrey;
}

#chat_service #chat_content div.msg_right{
    float: right;
    background: #FFACAC;
    /* color: black; */
}


#chat_service #chat_users{
    min-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
}

#chat_service #chat_users ul{
    padding: 0;
    margin: 0;
}

#chat_service #chat_users li{
    text-align: center;
    list-style: none;
    padding: 1em;
    color: #FFFFFF;
    cursor: pointer;
}

#chat_service #chat_users li.active{
    color: #FF5252;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border: none;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    border: none;
    background: darkgoldenrod;
}

#notif-list .notif-item{
    background: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 10px;
    margin-bottom: 1em;
}

.notif-title{
    overflow: hidden;
}