<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Matcha </title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css">
	<link rel="stylesheet" href="./chat.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 20vh;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
		}

		.modal-content {
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}
	</style>
	<script src="index.js"></script>

</head>

<body style="margin: 0; padding: 0;">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
				mdl-layout--fixed-tabs" style="background-color: #172A3A;"
	 id="content">
		<header class="mdl-layout__header" style="background-color: #404E5C;" id="header">
			<span class="mdl-badge mdl-badge--overlap" data-badge="" id="notifications" style="position: absolute; z-index: 999; margin-left: 48px; margin-top: 23px;"></span>
			<div class="mdl-layout__header-row" style="background-color: #404E5C;">
				<span class="mdl-layout-title">Matcha</span>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="refresh"><i class="material-icons">refresh</i></button>
					<div class="mdl-tooltip" data-mdl-for="refresh">
						Refresh Results
					</div>
			</div>
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color: #404E5C;">
				<a href="#fixed-tab-1" class="mdl-layout__tab is-active">Users</a>
				<a href="#fixed-tab-2" class="mdl-layout__tab">Interactions</a>
				<a href="#fixed-tab-3" class="mdl-layout__tab"> {{ singleUser.username }} </a>
			</div>
		</header>
		<div id="sidePanel" class="mdl-layout__drawer" style="background-color: #172A3A; border-color: #172A3A; color: #FFFFFF;">
			<span class="mdl-layout-title">
				<i class="material-icons" style="vertical-align: -15%;">notifications_active</i> Notifications
			</span>
			<div class="mdl-layout__content" id="sidebar" style="padding: 1.5vw;">
				<p v-for="item in notifications" style="border-left: 2px solid #FFFFFF; padding: 0.3vw;" :id="item._id">
					{{ item.notification }}
				</p>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="vertical-align: -60vh;"
				 id="logout">
					Logout
				</button>
			</div>
		</div>
		<main class="mdl-layout__content">
			<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
				<div class="page-content" style="margin-left: 10vw; margin-right: 10vw; margin-top: 3vw;">
					<span style="color: #FFFFFF;">Filter</span>
					<button class="mdl-button mdl-js-button mdl-button--icon" id="filterAndSort">
						<i class="material-icons" style="color: #FFFFFF;">filter_list</i>
					</button>
					<div id="sortAndFilter" hidden>
						<button id="submit_log" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" onclick="$('#refresh').trigger('click')">
							Clear Filters
						</button>
						<p style="color: #FFFFFF; margin-bottom: 0;"> Interests </p>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone" v-for="interest in singleUser.interests">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" :for="interest" style="color: #FFFFFF;">
										<input type="checkbox" :id="interest" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, interest, 'Interest')">
									<span class="mdl-switch__label">{{ interest | capitalize }}</span>
								</label>
							</div>
						</div>
						<p style="color: #FFFFFF; margin-bottom: 0;"> Distance </p>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="10" style="color: #FFFFFF;">
									<input type="checkbox" id="10" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [0, 10], 'Distance')">
									<span class="mdl-switch__label"> < 10km </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="1020" style="color: #FFFFFF;">
									<input type="checkbox" id="1020" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [10, 20], 'Distance')">
									<span class="mdl-switch__label"> 10 - 20km </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="2030" style="color: #FFFFFF;">
									<input type="checkbox" id="2030" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [20, 30], 'Distance')">
									<span class="mdl-switch__label"> 20 - 30km </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="3040" style="color: #FFFFFF;">
									<input type="checkbox" id="3040" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [30, 40], 'Distance')">
									<span class="mdl-switch__label"> 30 - 40km </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="40" style="color: #FFFFFF;">
									<input type="checkbox" id="less10" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [40, 100], 'Distance')">
									<span class="mdl-switch__label"> 40 </span>
								</label>
							</div>
						</div>
						<p style="color: #FFFFFF; margin-bottom: 0;"> Age </p>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="1825" style="color: #FFFFFF;">
									<input type="checkbox" id="1825" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [18, 25], 'Age')">
									<span class="mdl-switch__label"> 18 - 25 </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="2635" style="color: #FFFFFF;">
									<input type="checkbox" id="2635" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [25, 35], 'Age')">
									<span class="mdl-switch__label"> 26 - 35 </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="3645" style="color: #FFFFFF;">
									<input type="checkbox" id="3645" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [35, 45], 'Age')">
									<span class="mdl-switch__label"> 36 - 45 </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="4555" style="color: #FFFFFF;">
									<input type="checkbox" id="4555" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [45, 55], 'Age')">
									<span class="mdl-switch__label"> 45 - 55 </span>
								</label>
							</div>
							<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
								<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="55" style="color: #FFFFFF;">
									<input type="checkbox" id="55" class="mdl-switch__input" v-on:click="addFilter($event.target.checked, [55, 1000], 'Age')">
									<span class="mdl-switch__label"> > 55 </span>
								</label>
							</div>
						</div>
					</div>
					<main class="mdl-layout__content mdl-grid">
						<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" v-for="user in filteredUsers">
							<div class="mdl-card mdl-shadow--2dp card" style="cursor: pointer; width: 100%;">
								<div class="mdl-card__actions" style="padding: 0;">
									<img :src="'http://localhost:3000/uploads/' + user.profilePicture" style="max-height: 180px; display: block; margin-left: auto; margin-right: auto;"/>
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone" style="padding-left: 1vw; color: #FF5252; text-align: center;">
											<p style="font-size: 17px;"> {{ user.username }} <br />
												{{ user.distance }}km <br />
											</p>
										</div>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone" :user="user.username"
										 style="color: #FF5252; text-align: center;">
											<button class="mdl-button mdl-js-button mdl-button--icon" id="like">
												<i class="material-icons">favorite_outline</i>
											</button>
											<button class="mdl-button mdl-js-button mdl-button--icon" id="info">
												<i class="material-icons">info_outline</i>
											</button>
											<br />
											<button class="mdl-button mdl-js-button mdl-button--icon" id="block">
												<i class="material-icons">block</i>
											</button>
											<button class="mdl-button mdl-js-button mdl-button--icon" id="report">
												<i class="material-icons">report</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<br />
							<div class="mdl-snackbar mdl-js-snackbar" id="homeSnackbar">
								<div class="mdl-snackbar__text"></div>
								<button class="mdl-snackbar__action" type="button"></button>
							</div>
						</div>
					</main>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="fixed-tab-2">
				<div class="page-content">
					<main class="mdl-layout__content mdl-grid" style="margin-left: 10vw; margin-right: 10vw; margin-top: 5vw;">
						<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> We like Each Other </h4>
							<br />
							<div v-for="user in connectedUsers" :username="singleUser.likes" id="likedProfiles">
								<span class="mdl-chip" style="background-color: #FF5252; color: #FFFFFF; font-size: 20px;">
									<span class="mdl-chip__text" style="cursor: pointer;"> {{ user }} </span>
								</span>
								<br />
							</div>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> I like Them </h4>
							<br />
							<div v-for="user in likedUsers" id="likedProfiles">
								<span class="mdl-chip" style="background-color: #FF5252; color: #FFFFFF; font-size: 20px;">
									<span class="mdl-chip__text" style="cursor: pointer;"> {{ user }} </span>
								</span>
								<br />
							</div>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> They like Me </h4>
							<br />
							<div v-for="user in likedByUser" id="userLikes">
								<span class="mdl-chip" style="background-color: #FF5252; color: #FFFFFF; font-size: 20px;">
									<span class="mdl-chip__text" style="cursor: pointer;"> {{ user }} </span>
								</span>
								<br />
							</div>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> I've looked at Them </h4>
							<br />
							<div v-for="user in viewedUsers" id="viewedUsers">
								<span class="mdl-chip" style="background-color: #FF5252; color: #FFFFFF; font-size: 20px;">
									<span class="mdl-chip__text" style="cursor: pointer;"> {{ user }} </span>
								</span>
								<br />
							</div>
						</div>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> They've looked at Me </h4>
							<br />
							<div v-for="user in singleUser.profileViews" id="profileViews">
								<span class="mdl-chip" style="background-color: #FF5252; color: #FFFFFF; font-size: 20px;">
									<span class="mdl-chip__text" style="cursor: pointer;"> {{ user }} </span>
								</span>
							</div>
						</div>
					</main>
				</div>
			</section>
			<section class="mdl-layout__tab-panel" id="fixed-tab-3">
				<div class="page-content">
					<main class="mdl-layout__content mdl-grid" style="margin-left: 10vw; margin-right: 10vw; margin-top: 5vw;">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h3 style="color: #FFFFFF;"> Update Profile </h3>
							<form id="update_details">
								<i class="material-icons" style="vertical-align: -25%; color: #FFFFFF;">mail</i>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="email" id="email" name="email" style="color: #FFFFFF;">
									<label class="mdl-textfield__label" for="email" style="color: #AAAAAA;" id="email_label"> </label>
								</div>
								<br />
								<i class="material-icons" style="vertical-align: -25%; color: #FFFFFF;">vpn_key</i>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="password" id="password" name="password" style="color: #FFFFFF;">
									<label class="mdl-textfield__label" for="password" style="color: #AAAAAA;"> ********** </label>
								</div>
								<br />
								<p style="color: #FFFFFF" id="gender">
									<i class="material-icons" style="vertical-align: -25%; color: #FFFFFF;">wc</i>
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="male">
										<input type="radio" id="male" class="mdl-radio__button" name="gender" value="male">
										<span class="mdl-radio__label"> Male </span>
									</label>
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="female">
										<input type="radio" id="female" class="mdl-radio__button" name="gender" value="female">
										<span class="mdl-radio__label"> Female </span>
									</label>
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="other">
										<input type="radio" id="other" class="mdl-radio__button" name="gender" value="other">
										<span class="mdl-radio__label"> Other </span>
									</label>
								</p>
								<br />
								<p style="color: #FFFFFF" id="preference">
									<img src="https://img.icons8.com/material/50/ffffff/novel.png" width="25vw" />
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="malePref">
										<input type="radio" id="malePref" class="mdl-radio__button" name="preference" value="male">
										<span class="mdl-radio__label"> Male </span>
									</label>
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="femalePref">
										<input type="radio" id="femalePref" class="mdl-radio__button" name="preference" value="female">
										<span class="mdl-radio__label"> Female </span>
									</label>
									<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="both">
										<input type="radio" id="both" class="mdl-radio__button" name="preference" value="both">
										<span class="mdl-radio__label"> Both </span>
									</label>
								</p>
								<i class="material-icons" style="vertical-align: 9.7vh; color: #FFFFFF;">info</i>
								<div class="mdl-textfield mdl-js-textfield">
									<textarea class="mdl-textfield__input" type="text" rows="5" name="bio" id="bio" style="color: #FFFFFF;"></textarea>
									<label class="mdl-textfield__label" for="bio" style="color: #FFFFFF;" id="bio_label"> </label>
								</div>
								<br />
								<p style="color: #FFFFFF;" id="interests">
									<i class="material-icons" style="vertical-align: -25%;">star</i>
									<input type="checkbox" name="interests" value="memes"> Memes
									<input type="checkbox" name="interests" value="games"> Games
									<input type="checkbox" name="interests" value="movies/series"> Movies/Series
									<input type="checkbox" name="interests" value="food"> Food
									<input type="checkbox" name="interests" value="travel"> Travel
									<input type="checkbox" name="interests" value="books"> Books
								</p>
							</form>
							<br />
							<div class="mdl-snackbar mdl-js-snackbar" id="snackbar">
								<div class="mdl-snackbar__text"></div>
								<button class="mdl-snackbar__action" type="button"></button>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							<h4 style="color: #FFFFFF;"> Set Profile Picture </h4>
								<br />
							<img :src="singleUser.profilePicture" width="200px" />
							<br />
							<br />
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btnSnap" style="color: #FFFFFF;">Pictures</button>
							<div id="modalSnap" class="modal" style="z-index: 999;">
								<div class="modal-content">
									<button class="mdl-button mdl-js-button mdl-button--icon" id="closeSnap" style="float: right;"><i class="material-icons">close</i></button>
									<div class="mdl-dialog__content" style="color: #FF5252;">
										<div class="mdl-cell mdl-cell--6-col">
											<video id="video" width="320" autoplay></video>
											<canvas id="canvas" width="320" height="240" hidden></canvas>
											<br />
											<button id="snap">Snap Photo</button>
											<a href="#" class="button" id="downloadFile" download="matcha-snap.png">Download</a>
											<form id="uploadForm" action="/api/images/upload/" method="post" enctype="multipart/form-data">
												<input id="uploadFile" type="file" name="avatar" />
												<input type="submit" value="Submit">
											</form>
										</div>
										<div class="mdl-cell mdl-cell--6-col">
											<div v-for="image in singleUserImages">
												<img :src="image.filename" width="100px" class="images" />
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</main>
				</div>
			</section>
			<!-- CHAT -->
			<div id="chat_service" class="mdl-shadow--2dp">
				<div id="chat_content" class="chat_service_hideable">
					<h3 style="padding: 2vw; color: #FFFFFF;"> No chat currently open... </h3>
				</div>
				<div id="chat_users" class="chat_service_hideable">
					<ul id="chat_users_list">
						<li class="chat_user" v-for="user in connectedUsers">{{ user }}</li>
					</ul>
				</div>
				<input type="text" name="message_text" id="message_text" class="chat_service_hideable">
				<button id="chat_submit" class="mdl-button chat_service_hideable" style="color :#FFFFFF;">Send</button>
			</div>
			<button id="chat_control" class="mdl-button" state="closed" style="z-index: 999; color: #FFFFFF;"><span class="mdl-badge" data-badge="0">Open</span></button>
		</main>
		<div id="modal" class="modal">
			<div class="modal-content">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col" style="margin: 0; padding: 0;">
						<button class="mdl-button mdl-js-button mdl-button--icon" id="modalClose" style="float: right;"><i class="material-icons">close</i></button>
					</div>
					<div class="mdl-cell mdl-cell--12-col" style="margin: 0; padding: 0;">
						<h4 class="mdl-dialog__title" style="color: #FF5252; line-height: 0;">
							{{ modalUser.username }}
							<i class="material-icons">whatshot</i>
							{{ modalUser.fame }}
						</h4>
					</div>
					<div class="mdl-cell mdl-cell--12-col" style="margin: 0; padding: 0;">
						<h5 class="mdl-dialog__content" style="padding-bottom: 0; color: #FF5252; opacity: 0.8; line-height: 0;"> {{
							modalUser.first_name }} {{
							modalUser.last_name }} ({{ modalUser.dob }})
						</h5>
					</div>
					<div class="mdl-cell mdl-cell--12-col" style="margin: 0; padding: 0;">
						<div class="mdl-dialog__content" style="color: #FF5252;">
							<i class="material-icons" style="vertical-align: -25%;">star</i>
							<span v-for="interest in modalUser.interests">
								{{ interest | capitalize }}
							</span>
							<p style="padding-top: 0; width: 100%;">
								<i class="material-icons" style="vertical-align: -25%;">info_outline</i> {{ modalUser.bio }}
							</p>
						</div>
					</div>
					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-phone mdl-cell--2-col-tablet" v-for="images in modalUser.images">
						<img :src="'http://localhost:3000/uploads/' + images.filename" width="100%" />
					</div>
					<div class="mdl-cell mdl-cell--12-col" style="margin: 0; padding: 0;">
						<h5 class="mdl-dialog__content" style="padding-bottom: 0; color: #FF5252; opacity: 0.8; line-height: 0;">
							<img src="https://img.icons8.com/material/100/9E9E9E/new-moon.png" style="width: 0.8vw;" id="infoStatus" :user="modalUser.username">
							{{ modalUser.status }}
						</h5>
					</div>
				</div>
			</div>
		</div>
</body>

</html>