<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
</head>

<body style="margin: 0; padding: 0; color: #FFFFFF;">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background-color: #172A3A;">
        <main class="mdl-layout__content mdl-grid" style="margin-left: 10vw; margin-right: 10vw;" id="content">
            <div class="mdl-cell mdl-cell--12-col" style="margin: 0 auto; padding: 0; margin-top: 3vw;">
                <h1 style="line-height: 0;">Tell us more about yourself, {{ info.username }}</h1>
            </div>
            <div class="mdl-cell mdl-cell--6-col" style="margin: 0 auto;">
                <form id="form_reg">
                    <div style="font-size: 16px;">
                        Date of Birth <br />
                        <input type="date" name="dob" id="dob" style="font-family: sans-serif; font-size: 16px; border: none; background-color: transparent; color: #FFFFFF;">
                    </div>
                    <br/>
                    <div id="gender" style="font-size: 16px;">
                        Gender <br />
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="male">
                            <input type="radio" id="male" class="mdl-radio__button" name="gender" value="male">
                            <span class="mdl-radio__label"> Male </span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="female">
                            <input type="radio" id="female" class="mdl-radio__button" name="gender" value="female">
                            <span class="mdl-radio__label"> Female </span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="other">
                            <input type="radio" id="other" class="mdl-radio__button" name="gender" value="other">
                            <span class="mdl-radio__label"> Other </span>
                        </label>
                    </div>
                    <br />
                    <div id="preference" style="font-size: 16px;">
                        Sexual Preference <br />
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="malePref">
                            <input type="radio" id="malePref" class="mdl-radio__button" name="preference" value="male">
                            <span class="mdl-radio__label"> Male </span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="femalePref">
                            <input type="radio" id="femalePref" class="mdl-radio__button" name="preference" value="female">
                            <span class="mdl-radio__label"> Female </span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="both">
                            <input type="radio" id="both" class="mdl-radio__button" name="preference" value="both">
                            <span class="mdl-radio__label"> Both </span>
                        </label>
                    </div>
                    <br />
                    <div class="mdl-textfield mdl-js-textfield" style="font-size: 16px;">
                        Bio
                        <textarea class="mdl-textfield__input" type="text" rows="5" id="bio"></textarea>
                    </div>
                    <br />
                    <div id="interests" style="font-size: 16px;">
                        What are you interested in? <br />
                        <input type="checkbox" name="interest1" value="memes"> Memes
                        <input type="checkbox" name="interest2" value="games"> Games
                        <input type="checkbox" name="interest3" value="movies/series"> Movies/Series
                        <input type="checkbox" name="interest4" value="food"> Food
                        <input type="checkbox" name="interest5" value="travel"> Travel
                        <input type="checkbox" name="interest5" value="books"> Books
                    </div>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--3-col" style="margin: 0 auto;">
                <h3> Choose a profile picture </h3>
                1. If you don't have an image to upload, use the "Snap Photo" button to capture one using the webcam.
                Otherwise, skip to step 3.
                <br />
                2. Use the "Download" button to save the image.
                <br />
                3. Select "Choose File" and select your deisred image.
                <br />
                4. Click "Submit"
            </div>
            <div class="mdl-cell mdl-cell--3-col" style="margin: 0 auto;">
                <video id="video" width="240" autoplay></video>
                <canvas id="canvas" width="240" height="180" hidden></canvas>
                <br />
                <br />
                <button id="snap" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="color: #FFFFFF;">Snap Photo</button>
                <a href="#" class="button" id="downloadFile" download="matcha-snap.png" style="color: #FFFFFF; text-decoration: none;"> <button id="snap" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="color: #FFFFFF;"> Download </button></a>
                <form id="uploadForm" action="/api/images/upload/" method="post" enctype="multipart/form-data">  
                    <input id="uploadFile" type="file" name="avatar"/>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <button id="save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="align-self: right;">Start Matching!</button>
    </div>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    </main>
    </div>
    <script src="profile.js"></script>
</body>

</html>