<style>
	.back {
		position: absolute;
		margin: 0;
		width: 100vw;
		height: 100vh;
		background: #172A3A;
		animation-name: backdiv;
		animation-duration: 1s; 
		animation-iteration-count: infinite;
	}

	.heart {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #FF5252;
		height: 70px;
		width: 70px;
		transform: rotate(-45deg);
		animation-name: beat;
		animation-timing-function: ease-in;
		animation-duration: 1.5s;
		animation-iteration-count:infinite;
		
	}

	.heart:after {
		background-color: #FF5252;
		content: "";
		border-radius: 10%;
		position: absolute;
		width: 70px;
		height: 70px;
		top: 0px;
		left: 45px;
	}

	.heart:before {
		background-color: #FF5252 ;
		content: "";
		border-radius: 10%;
		position: absolute;
		width: 70px;
		height: 70px;
		top: -45px;
		left: 0px;
	}

	@keyframes backdiv {
		50% {
		}
	}

	@keyframes beat {
		0% {
		transform: scale(0.45) rotate(-45deg);
		}
		40% {
		transform: scale(1) rotate(-45deg);
		}
		50%{
		transform: scale(0.6) rotate(-45deg);
		}
		60% {
		transform: scale(1) rotate(-45deg);
		}
		100%{
		transform: scale(0.45) rotate(-45deg);
		}
	}
</style>
<div class="back"></div>
<div class="heart"></div>